
<section id="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-sm-4 col-md col-sm-4 col-12 col">
                <a href="index.html"><img src="~/Images/DefaultImages/logo.jpg" class="img-fluid" alt="img-responsive"></a>
                <p><i class="fa fa-location-arrow"></i>Inaruwa Sunsari</p>
                <p><i class="fa fa-phone"></i> +977 9810441857</p>
                <p><i class="fa fa fa-envelope"></i>KKTraders.com</p>
            </div>

            <div class="col-sm-4 col-md col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">MY ACCOUNT</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#"></a></li>
                    <li><a href="#">Electronic Equipments</a></li>
                    <li><a href="#">Mechenary</a></li>
                    <li><a href="#">Agricultural Equipment</a></li>
                    <li><a href="#">Solar Equipments</a></li>
                    <li><a href="#">Miscellaneous</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>

            <div class="col-sm-4 col-md col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">WE PROVIDE</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#">Good Service</a></li>
                    <li><a href="#">Secure</a></li>
                    <li><a href="#">Best Price</a></li>
                   
                    <li><a asp-action="Login" asp-controller="Account">Login</a></li>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="Admin" >Admin DashBoard</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
        </div>
    </div>

    <div class="container">
        <!--
            <ul class="foote_bottom_ul_amrc">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        -->
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @DateTime.Now.Year | Designed With by <a href="http://keshavkoirala.com.np" target="_blank">Keshavkoirala.com.np</a></p>

        <ul class="social_footer_ul">
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</section>