

<div class="row " style="margin-left:300px; margin-right:300px ;margin-top:30px;">
    <div class="col-md-12 col-12">
        <img  style="height:400px; width:600px;" src="~/Images/DefaultImages/Submit.png" />
    </div>
    <div class="col-md-12 col-12">
        
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
    </div>
</div>
