<div class="jumbotron offset-1 mt-3">
    <h1 class="text-dark-50">@ViewBag.MessageHeader</h1>
    <p class="text-success">
        @ViewBag.ErrorMessage
    </p>
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home"> Go to Home </a>
    </div>

</div>