<div class="container-fluid">
    <div class="jumbotron bg-dark " style="padding-left:150px;">
        <h1 class="text-white">Nothing found</h1>
        <p class="text-white"> Sorry ! We do not have product that you are looking for </p>
        <p class="text-white">
            Try Searching different Product
        </p>
        <form asp-action="SearchCategory">
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="search" />
                        <button type="submit" name="search " class="btn btn-primary ">Search</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>