
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="text-danger">Access is denied.</h1>
    <h6 class="text-danger">You have no access to this page </h6>
    <img src="~/Images/DefaultImages/No Entry.png" />
</div>
  

