
<div class="card" style="margin:200px; margin-top:50px;">
    <div class="card-header bg-danger text-white">
        <h1 class="text-white-50 ">Account Verified</h1>
    </div>
    <div class="card-body">
        <img  class="img-fluid"  style="width:1000px;height:250px;" src="~/Images/DefaultImages/login.png" />
    </div>
    <div class="card-footer">
        <a asp-action="Login" asp-controller="Account" class="btn btn-danger">Login</a>
    </div>
</div>
