@model KKTraders.Models.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<hr />
@if(ViewBag.IsSucceed==true)
{
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your password has been Updated sucessfully..
      
    </div>
}

<div class="card border-info bg-white offset-3 offset-sm-4 mb-4" style=" margin-top: 150px; width: 20rem;">
    <div class="card-header ">
        <div class="card-title text-center text-success">
            Change password
        </div>
    </div>
    <form asp-action="ChangePassword">
        <div class="card-body" >

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer bg-white">
            <input type="submit" value="ChangePassword" class="btn btn-primary form-control" />
        </div>
    </form>
</div>
    


