@model ForgetPasswordModel

<div class="row" style="margin-left:100px;margin-right:100px">
    <div class="col-sm-12">
        <h1 class="text-center">PAssword Reset Page</h1>
    </div>
    <div class="col-12">
        <form asp-action="ForgetPassword" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>