
   <div class="row" style="margin-left:100px; margin-right:100px">
       <div class="col-md-12">
           <h4 class="text-dark">Password Reset Page</h4>
           <p class="text-primary">Check your mail and verify.</p>
       </div>
   </div>