<div class="row" style="margin-left:100px;margin-right:100px;">
    <div class="col-md-12">
        <p class="text-danger"> Are you done verifing ?</p>
        <p class="text-primary">Sign in now with your new password</p>
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Login</a>
    </div>
</div>