@model  List<KKTraders.Models.ViewModel.salesReportDetails>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{ 
   double  total = 0;

}
<div class="pageView m-4">
    <div class="card m-3">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Admin-Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="salesReport">Sales-Invoice</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Sum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        total = total + item.sum;
                        <tr>
                            <td>@item.productName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.sum</td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
        <div class="card-footer">
            <p class="text-danger float-left">Total=@total</p>
        </div>
    </div>

</div>



