@model ProductModel

@{
    ViewData["Title"] = "AddNewProduct";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Admin-Home</a></li>
        <li class="breadcrumb-item"><a asp-action="AllProduct" asp-controller="Product">All-product</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add-new</li>
    </ol>
</nav>

<div class="card">   
    <div class="card-body ">
        <div class="row">
            <div class="col-md-8 offset-1">
                <form asp-action="AddNewProduct" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row form-group">
                        <div class="col-sm-6 col-12">

                            <input asp-for="Name" class="form-control" placeholder="Name of Product" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 col-12">

                            <input asp-for="Price" class="form-control" placeholder="Price of Product" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6 col-12">

                            <input asp-for="Discount" class="form-control" placeholder="Discount" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 col-12">
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">
                                <option value"">Category</option>

                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 col-12">
                            <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Supplier">
                                <option value"">Supplier</option>

                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                     
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6 col-12">
                            <input asp-for="Units" class="form-control" placeholder="Purchased Units"/>
                            <span asp-validation-for="Units" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 col-12">
                            <input asp-for="MinimumUnits" class="form-control" placeholder="Minimum Stock " />
                            <span asp-validation-for="MinimumUnits" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductImage"></label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="ProductImage" class="custom-file-input" id="custom-file-input" aria-describedby="inputGroupFileAddon04">
                                <label class="custom-file-label" for="inputGroupFile04" id="custom-file-label">Choose file</label>
                            </div>
                        </div>
                        <span asp-validation-for="ProductImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-controller="Product"  class="btn btn-primary" asp-action="AllProduct">Back to List</a>
                    </div>
                </form>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
